 <article class="article">
   <h1 class="article__h1">
       <a href="">
           Statsbudsjettet for 2015
           <small class="article__tags">
               <span>10.11.14</span>
               <span>Nyhet</span>
               <span>okonomi</span>
               <span>Sentralt</span>
           </small>
       </a>
   </h1>
   <a href=""><img src="http://lorempixum.com/480/342" alt="" class="article__image"></a>
   <p class="article__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, eveniet, laborum, quas culpa repellat possimus ipsum dolorum accusantium quae deleniti placeat amet est quasi cum voluptate tempore corporis ut magnam.</p>
   <footer class="article__footer  text-right">
       <a href="" class="likes-counter float-shadow has-tooltip">(15 Liker) <i class="fa fa-thumbs-up"></i> </a>
       <a href="" class="email-link float-shadow has-tooltip">Tips en venn <i class="fa fa-envelope"></i></a>
   </footer>
</article>