 <ul class="btn-list grid--narrow list-unstyled">
   <li class="grid__item one-third palm--one-whole lap--one-half"><a href="" class="btn shadow-radial"><i class="fa fa-2x fa-calendar"></i><span>Se vaktliste</span></a></li><!--
--><li class="grid__item one-third palm--one-whole lap--one-half"><a href="" class="btn shadow-radial"><i class="fa fa-2x fa-clock-o"></i><span>For timer</span></a></li><!--
--><li class="grid__item one-third palm--one-whole lap--one-half"><a href="" class="btn shadow-radial"><i class="fa fa-2x fa-database"></i><span>Utlegg</span></a></li><!--
--><li class="grid__item one-third palm--one-whole lap--one-half"><a href="" class="btn shadow-radial"><i class="fa fa-2x fa-files-o"></i><span>Sykefravaer</span></a></li><!--
--><li class="grid__item one-third palm--one-whole lap--one-half"><a href="" class="btn shadow-radial"><i class="fa fa-2x fa-file-o"></i><span>Sok ferie</span></a></li><!--
--><li class="grid__item one-third palm--one-whole lap--one-half"><a href="" class="btn shadow-radial"><i class="fa fa-2x fa-user"></i><span>Finn folk</span></a></li>
</ul>
