<li class="feed__item">
   <i class="fa fa-facebook facebook"></i>
   <h2 class="feed__title"><a href="">title</a></h2>
   <p class="feed__name">by <a href="">username</a></p>
   <p class="feed__date">02.11.2015</p>
   <p class="feed__intro" style="display: -webkit-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, numquam, magnam, et excepturi praesentium eos porro sint optio officia quis asperiores quisquam tempora deserunt inventore provident blanditiis voluptatem ab ut!</p>
</li>
<li class="feed__item">
   <i class="fa fa-twitter twitter"></i>
   <h2 class="feed__title"><a href="">title</a></h2>
   <p class="feed__name">by <a href="">username</a></p>
   <p class="feed__date">02.11.2015</p>
   <p class="feed__intro"  style="display: -webkit-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, numquam, magnam, et excepturi praesentium eos porro sint optio officia quis asperiores quisquam tempora deserunt inventore provident blanditiis voluptatem ab ut!</p>
</li>