<div class="menu-wrap">
    <nav class="main-nav">
        <h1 class="sr-only">Main Nav</h1>
        <ul class="list-unstyled">
            <li><a href="">Aktuelt</a></li>
            <li><a href="">HR</a></li>
            <li><a href="">Arbeldsstotte</a></li>
            <li><a href="">Fagtenaer</a></li>
            <li><a href="">Om Politiet</a></li>
        </ul>
        
    </nav>
    <button class="close-button fa fa-times" id="close-button">Close Menu</button>
</div>
<button class="menu-button visible-xs" id="open-button">Open Menu</button>
