.article {
    border-bottom: 1px solid $bg-dark;
    padding-bottom: $gutter/2;
    padding-top: $gutter/3;
    li:first-child & {
      padding-top: 0;
    }
    &__h1 {
        @extend .capitalize;
       
        line-height: 1.4;
        font-size: 1rem;
        a {
            text-decoration: none;
            color: $text-color; 
        }
        li:first-child & {
            font-size: 1.4rem;
        }
    }
    
    &__tags {
        display: block;
        text-transform: none;
        font-weight:normal;
        @extend %simple-divider;
        font-size: .85rem;
    }
    &__image {
        max-width: 100%;
        @include respond-to(mobile) {
            width:100%;
        }
    }
    &__intro {
        font-size: 0.85rem;
    }
    &__footer {
        position: relative;
        z-index: 100;
        a {
            text-decoration: none;            
            color: #59595c;
            font-size: .7rem;
            padding-left: 15px;
            margin-bottom: 10px;
            white-space: nowrap;
            &:hover {
                color: #000;
                
            }
        }
        .fa {
           font-size: 1.2rem;
           padding-left: 10px;
        }
    }
}

.articles {
   li {
      position:relative;
      z-index: 1;
      &:after {
          content: '';
          position:absolute;
          left: $gutter;
          right: 0;
          height: 1px;
          background: $bg-dark;
          bottom: -1px;
      }
      .article {
          border-bottom: 0;
          
      }
      &:last-child,
      &:nth-last-child(2) {
          &:after { display: none;}
     }
     &.one-half:nth-child(2n) {
         &:after {
             left: $gutter;
         }
     }
    }
    &__wrapper {
        @include respond-to(mobile) {
            padding-bottom: $gutter/2;
        }
    }
}