
@include respond-to(tablet-desktop) {
    .has-tooltip {
        position: relative;
    }

    /* Gap filler */
    .has-tooltip::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 100%;
        pointer-events: none;
        left: 50%;
        transform: translateX(-50%);
    }

    .hovered {
        z-index: 9999 !important;
    }
    .has-tooltip:hover::after {
        pointer-events: auto;
    }

    /* Tooltip */

    .tooltip-content {
        position: absolute;
        z-index: 19999;
        width: 240px;
        height: 100px;
        left: 50%;
        margin-left: -110px;
        bottom: 100%;
        text-align: center;
        color: #fff;
        opacity: 0;
        margin-bottom: 20px;
        cursor: default;
        pointer-events: none;
        //backface-visibility: hidden;
        transition: opacity .3s, transform .3s;
    }

    .tooltip-content {
        transform: translate3d(0,10px,0);
    }


    .has-tooltip:hover .tooltip-content {
        opacity: 1;
        pointer-events: auto;
        transform: translate3d(0,0,0);
    }

    .tooltip-content > span {
        float: left;
        width: 50%;
        @include box-sizing(border-box);
        height: 100%;
        position: relative;
        backface-visibility: hidden;
        transition: transform 0.3s;
    }

    .tooltip-content > span img {
        display: block;
        max-width: 80px;
        transform: translate(-50%, -50%);
        position:Absolute;
        left: 50%;
        top: 50%;
    }

    .tooltip-front {
        background: $bg-dark;
        transform-origin: 100% 50%;
        transform: perspective(1000px) rotate3d(0,1,0,-90deg);
    }

    .tooltip-back {
        background: #5c034b;
        white-space: normal;
        font-size: 0.7rem;
        padding: 10px;
        transform-origin: 0% 50%;
        transform: perspective(1000px) rotate3d(0,1,0,90deg);
    }

    .has-tooltip:hover .tooltip-content > span {
        transform: perspective(1000px) rotate3d(0,1,0,0deg);
    }

    /* Arrow */
    .tooltip-content .tooltip-front::after,
    .tooltip-content .tooltip-back::after {
        content: '';
        position: absolute;
        top: 100%;
        width: 0;
        height: 0;
    }

    .tooltip-content .tooltip-front::after {
        right: 0;
        border-top: 10px solid $bg-dark;
        border-left: 10px solid transparent;
    }

    .tooltip-content .tooltip-back::after {
        left: 0;
        border-top: 10px solid #5c034b;
        border-right: 10px solid transparent;
    }
}