@charset "UTF-8";

@import "helpers/frameworks";
@import "ui/layout/layout";
@import "ui/modules/forms";

#sticky-button {
  position: fixed;
  top: 137px;
  right: -70px;
  transform: rotate(90deg);
  z-index: 100;
}

.btn.badge {
    background-color: $gray-light;
    transition: all .2s ease; 
    border-width: 2px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    box-sizing:border-box;
    border-radius: 50%;
    padding:0;
    .glyphicon { top: -1px;}
    &:hover, &:active, &:focus { 
        background: #fff;
        border-color: $gray-light;
        border-width: 2px;
        .glyphicon { color: $gray-light}
    }
}
.actions { 
    margin-top: .5em;
    clear:both;
    position:relative;
    .dropdown-menu {
        right: -15px;
        margin-top:10px;
        border: 1px solid $gray-light;
        &:before {
            content: '';
            display:block;
            position:absolute;
            top: -7px;
            left: 50%;
            margin-left: 17px;
            width: 0;
            height: 0;
            boreder-top: none;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid $gray-light;
        }
    }
}

.lunch-item-active {
    background-color: $brand-warning;
    color: #fff;
    a { color: #fff; text-decoration: underline;}
    .badge.btn:last-child { 
        color:  $brand-danger; 
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #fff, 0 0 1px rgba(0, 0, 0, 0);
    } 
    
}

.lunch-item-disabled {
    opacity: .3;
    pointer-events: none;
}

.list-group-item > .badge {
    @media (max-width: 550px) {
        float:none;
        margin: 1em 0;
        display: block;
        opacity: .4;
    }
}

.add-lunch-modal {
    z-index: 1060;
}

.dropdown-menu>li>span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}