body { background: transparent; }
html {
    background: url(../images/bg.jpg) no-repeat center center;
    background-size:cover;
    min-height: 100vh;
   
}

.main-content {
    padding-top: 95px;
}